.add-category-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.add-category-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: #f5f5fa;
}
.category-input-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Error-msg {
    background-color: #f83b3b;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    align-self: flex-start;
    text-align: left;
    border-radius: 5px;
}
.dashboard-category-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}
.input-category-container {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 22px;
}
.input-name-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}
.input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}
.name-is {
    font-size: 20px;
    font-weight: bold;
    color: #3f3f42;
}
.file-input-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.switches-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.switch-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-card {
    font-size: 17px;
    font-weight: bold;
    color: #3f3f42;
    margin: 12px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .submit-button {
    background-color: #4e54ec;
    color: #ffffff;
    height: 32px;
    width: 80px;
    align-self: flex-end;
    margin-top: 100px;
    border-radius: 5px;
    margin: 12px;
  }
  .Link-card-new {
    text-decoration: none;
    color: #9696e9;
  }